<div class="menu" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <h2 id="h2">Caio Oliveira Silva - 0050831911038</h2>
  <p class="timer">
    <span *ngIf="timer.getCountMinutos() > 0"
      >{{ timer.getCountMinutos() }}m</span
    >
    {{ timer.getCountSegundos() }}s
  </p>
</div>
<div class="container-fluid div-conteiner">
  <div>
    <h2>Tabela BitCoin$</h2>

    <table>
      <tr>
        <th>Data/Hora</th>
        <th>Real (BRL)</th>
        <th>Dólar (USD)</th>
      </tr>
      <tr *ngFor="let response of BitcoinService.updateList">
        <td>{{ response.time.updated }}</td>
        <td>
          {{ response.bpi.BRL.rate }}
        </td>
        <td>
          {{ response.bpi.USD.rate }}
        </td>
      </tr>
    </table>
  </div>
</div>
